PORT=5000
HOST=0.0.0.0

JWT_SECRET=zmien-to-na-losowy-string-min-32-znaki
JWT_EXPIRES_IN=7d

DATABASE_URL=postgresql://nexu:nexu_secret@localhost:5432/nexudeploy

DOCKER_SOCKET=/var/run/docker.sock

PROJECTS_DIR=./projects

PORT_RANGE_START=4000
PORT_RANGE_END=4999

SSL_EMAIL=admin@twojadomena.pl
CADDY_API_URL=http://localhost:2019

GITHUB_PAT=